@model IEnumerable<_P_MVC_EF.Models.Student>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>



<tr>
    <th>
        @Html.DisplayNameFor(model => model.FirstName)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.LastName)
    </th>
    <th>
        @Html.DisplayNameFor(model => model.FavoriteColor)
    </th>
    <th></th>
</tr>

<div class="Container">
    <div class="row">
         @foreach (var item in Model)
          {
              <div class="col-md-3">
                   <a href="/Students/Details/@item.StudentID">
    
                       <div class="card" style="width: 18rem;">
                            <div class="card-body">
                                    <h5 class="card-title">@item.LastName, @item.FirstName</h5>
                                    <p class="card-text">My favorite color is @item.FavoriteColor.</p>
            
                            </div>
                       </div>
                    </a>
              </div>
    
          }

    </div>
</div>


