@model _2MVC_Beginner.Models.Pokidetails

@{
    ViewBag.Title = "Info";
}

<h2>Info</h2>

<div>
    <h4>PokemonInformation</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.height)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.height)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        



    </dl>
    <img src="@Model.sprite.front_default" />
</div>
<p>

    @Html.ActionLink("Back to List", "Index")
</p>

