@model MVC_Beginner.Models.PokemonInformation

@{
    ViewBag.Title = "Info";
}

<h2>Info</h2>

<div>
    <h4>PokemonInformation</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.height)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.height)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.weight)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.weight)
        </dd>

        

    </dl>
    <img src="@Model.sprites.front_default" />
</div>
<p>
   
    @Html.ActionLink("Back to List", "Index")
</p>
